* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins' , sans-serif;
}

header {
  display: flex;
  width: 80%;
  height: 20vh;
  margin: auto;
  align-items: center;
}

.logo-container, .nav-links {
  display: flex;
}

.logo-container {
  flex: 1;
  border-right: 3px solid #262626;
}

.logo-container img {
  height: auto;
  width: 150px;
}

nav {
  flex: 2;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
  text-shadow: 3px 3px 3px rgba(150, 150, 150, 1);
}

#li1 {
  color: rgb(170, 0, 0);
  text-shadow: none;
  pointer-events: none;
}

.navLink {
  color: #262626;
  font-size: 18px;
  text-decoration: none;
}

/*Footer*/
footer {
  display: flex;
  justify-content: flex-end;
  background: #d4d4d4;
  width: auto;
  height: 10vh;
  margin: auto;
}

footer p {
  flex: 1;
  align-self: center;
  padding: 10px;
}

footer .footer-logos {
  /* height: 16px; */
  align-self: center;
  padding: 10px;
}

.footer-logos > a img {
  height: 2.5em;
}